<button type="button" class="mobile-nav-toggle d-lg-none"><i class="fa fa-bars"></i></button>


<!--==========================
  Mobile nav
============================-->


<!--<nav class="mobile-nav d-lg-none">-->
<nav class="mobile-nav d-lg-none mobile-nav-overly" style="display:none">
  <ul>
    <li class="active"><a href="#intro">Home</a></li>
    <li><a href="#deals">Deals</a></li>
    <li><a href="#Specialist">Specialist</a></li>
    <li><a href="#download">Download</a></li>
    <li><a href="#footer">Contact Us</a></li>
  </ul>
</nav>


<header id="header">

  <div id="topbar">
    <div class="container">

      <p class="phone-info">+94(0)76 356 0000</p>
      <p class="email-info">info@magul.lk</p>
      <a target="_blank" href="https://play.google.com/store/apps/details?id=com.magullk.user_app_magul_fltr"
         class="play_store"><img
        class="play_store" src="../../../assets/icons/play_store_icon.png"></a>
      <a target="_blank" href="https://apps.apple.com/lk/app/magul-lk/id1484186091" class="app_store"><img
        class="app_store"
        src="../../../assets/icons/app_store_Icon.png"></a>

    </div>
  </div>

  <div class="container">

    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <!--<a href="#header" class="scrollto"><img src="../../../assets/icons/logo.svg" alt="" class="logo-icon"></a>-->
      <img src="../../../assets/icons/logo-new.png" class="logo"/>

    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="#intro">Home</a></li>
        <li><a href="#deals">Deals</a></li>
        <li><a href="#Specialist">Specialist</a></li>
        <li><a href="#download">Download</a></li>
        <li><a href="#footer">Contact Us</a></li>
      </ul>
    </nav><!-- .main-nav -->
  </div>

  <div id="nav-line"></div>


</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">

  <svg class="Rectangle_3">
    <linearGradient id="LinearGradientFill1" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
      <stop offset="0" stop-color="#00b3b9" stop-opacity="0.302"></stop>
      <stop offset="0.4925" stop-color="#ade7e9" stop-opacity="0.051"></stop>
      <stop offset="0.56" stop-color="#9de2e4" stop-opacity="0.137"></stop>
      <stop offset="0.6914" stop-color="#74d5d9" stop-opacity="0.361"></stop>
      <stop offset="0.8718" stop-color="#32c2c7" stop-opacity="0.722"></stop>
      <stop offset="1" stop-color="#00b3b9" stop-opacity="1"></stop>
    </linearGradient>
    <rect fill="url(#LinearGradientFill1)" id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="100%" height="100%">
    </rect>
  </svg>

  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-12 intro-info order-md-first order-last">
        <h2>Sri Lanka's Largest <br>Weeding Market Place</h2>
        <a href="http://magul.lk/biz/">
          <button id="download-but">Register Now</button>
        </a>

      </div>

    </div>

  </div>

  <div class="container specialist-nav">
    <div class="row justify-content-center align-self-center">

      <div class="col-md-1 col-lg-1 col-sm-3  col-3 wow bounceInUp" data-wow-duration="1.4s">

        <div class="box">
          <div class="icon-img">
            <img class="icon-img" src="../../../assets/icons/photography.png">
          </div>
          <p class="name">photography</p>
        </div>

      </div>


      <div class="col-md-1 col-lg-1 col-sm-3  col-3 wow bounceInUp" data-wow-duration="1.4s">

        <div class="box">
          <div class="icon-img">
            <img class="icon-img" src="../../../assets/icons/dressing.png">
          </div>
          <p class="name">dressing</p>
        </div>

      </div>


      <div class="col-md-1 col-lg-1 col-sm-3  col-3 wow bounceInUp" data-wow-duration="1.4s">

        <div class="box">
          <div class="icon-img">
            <img class="icon-img" src="../../../assets/icons/jewellary.png">
          </div>
          <p class="name">jewellary</p>
        </div>

      </div>


      <div class="col-md-1 col-lg-1 col-sm-2  col-2 d-none d-sm-block wow bounceInUp" data-wow-duration="1.4s">

        <div class="box">
          <div class="icon-img">
            <img class="icon-img" src="../../../assets/icons/DJ.png">
          </div>
          <p class="name">DJ</p>
        </div>

      </div>


      <div class="col-md-1 col-lg-1 col-sm-2  col-2 d-none d-sm-block wow bounceInUp" data-wow-duration="1.4s">

        <div class="box">
          <div class="icon-img">
            <img class="icon-img" src="../../../assets/icons/cake.png">
          </div>
          <p class="name">cake</p>
        </div>

      </div>

      <div class="col-md-1 col-lg-1 col-sm-2  col-2 d-none d-sm-block  wow bounceInUp" data-wow-duration="1.4s">

        <div class="box">
          <div class="icon-img">
            <img class="icon-img" src="../../../assets/icons/dresses.png">
          </div>
          <p class="name">dresses</p>
        </div>

      </div>


      <div class="col-md-1 col-lg-1 col-sm-2  col-2  wow bounceInUp" data-wow-duration="1.4s">

        <a href="#Specialist"><span id="see-more-but">SEE MORE</span></a>

      </div>


    </div>
  </div>

</section>

<!-- #intro -->

<main id="main">

  <!--==========================
   Deals Section
 ============================-->
  <section id="deals" class="section-bg">

    <header class="section-header">
      <h3>MAGUL DEALS</h3>
    </header>

    <div class="container">

      <div class="row justify-content-center align-self-center">

        <div *ngIf="deal_list.length < 1;else else_content">
          <p>No Deals available</p>
        </div>

        <ng-template #else_content>

          <div *ngFor="let item of deal_list" class="col-md-4 col-lg-4 col-sm-6  col-6 wow bounceInUp"
               data-wow-duration="1.4s">

            <div class="box">

              <p class="name-text">{{item.sproduct_id.title}}</p>
              <p class="photography">{{item.sproduct_id.category.name}}</p>

              <div class="icon-img">
                <img class="icon-img" src="http://34.68.121.192/data/images/deals/{{item.feature_image}}">
              </div>
              <p class="deal-title">DEAL TITLE</p>

              <div class="deal-inform">
                <p class="real-value">Rs.{{item.actual_price}} =</p>
                <p class="sale-vale">Rs.{{item.offered_price}} =</p>
              </div>

              <p class="expires">EXPIRES IN :</p>
              <p class="expires-value">17 Days 12:12:05</p>

            </div>

          </div>

        </ng-template>

      </div>

    </div>
  </section>


  <!--==========================
    Specialist Us Section
  ============================-->
  <section id="Specialist">

    <header class="section-header">
      <h3>SPECIALISTS</h3>
    </header>

    <div class="container">

      <div class="row justify-content-center align-self-center">

        <div class="col-md-3 col-lg-3 col-sm-3  col-3 wow bounceInUp" data-wow-duration="1.4s"
             *ngFor="let item of specialistCategory">

          <div class="box">
            <div class="icon-img">
              <img class="icon-img" src="http://34.68.121.192/data/images/specialist_cats/{{item.image}}">
            </div>
            <p class="name">{{item.name}}</p>
          </div>

        </div>

      </div>
    </div>

  </section><!-- #about -->


  <!--==========================
    Download Section
  ============================-->
  <section id="download" class="section-bg">

    <header class="section-header">
      <h3 class="section-title">BENEFITS</h3>
    </header>

    <div class="container">

      <div class="row header-margin">

        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" style="visibility: visible; animation-name: fadeInUp;">
          <img src="../../../assets/img/feature_app.svg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1"
             style="visibility: visible; animation-name: fadeInUp;">
          <h3>Benefits of the App</h3>

          <h6> Reliable</h6>
          <p> Customer can store and organize all information related to their wedding and manage it avoiding the risk
            of
            losing ar
            detail.</p>

          <h6> Strictly Confidential</h6>
          <p>All the details that feed of the app by the customer are safe and strictly
            confidential and applied to data protectio the country</p>

          <h6>Service Ranking System</h6>
          <p>an Automated ranking system off the app help to increase the shop front. </p>

          <h6>No Need of Advertising</h6>
          <p>Wedding Suppliers do not need
            advertising to promote their services
          </p>

          <h6>Low Cost Involved </h6>
          <p>Customer does not need to waste their
            time or money
          </p>

          <h6>Hassle - Free</h6>
          <p>Customer can manage their wedding without any problem at home.</p>

        </div>

      </div>


    </div>

    <header class="section-header">
      <h3 class="section-title">Download</h3>
    </header>

    <div class="container">

      <div class="row justify-content-center align-self-center">

        <div class="box">
          <h6>Download User App</h6>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.magullk.user_app_magul_fltr"
             class="play_store"><img class="play_store" src="../../../assets/icons/play_store_icon.png"></a>
          <a target="_blank" href="https://apps.apple.com/lk/app/magul-lk/id1484186091" class="app_store"><img
            class="app_store"
            src="../../../assets/icons/app_store_Icon.png"></a>
        </div>

        <div class="box">
          <h6>Download Specialist App</h6>
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.magullk.specialist_app"
             class="play_store"><img
            class="play_store" src="../../../assets/icons/play_store_icon.png"></a>
          <a target="_blank" href="https://apps.apple.com/lk/app/magul-biz/id1484634967" class="app_store"><img
            class="app_store"
            src="../../../assets/icons/app_store_Icon.png"></a>
        </div>

      </div>


    </div>


  </section><!-- #portfolio -->


</main>


<!--==========================
  Footer
============================-->
<footer id="footer" class="page-footer font-small mdb-color pt-4 section-bg">


  <a href="#" class="back-to-top" style="display: inline;">
    <img src="../../../assets/img/Path_31.svg"/>
  </a>

  <div class="row justify-content-center align-self-center">
    <img src="../../../assets/img/Group_11.svg" class="Group_11"/>
  </div>


  <div class="float-left">
    <img src="../../../assets/img/Group_10.svg" class="Group_10"/>
  </div>


  <div class="top-right">
    <img src="../../../assets/img/Group_12.svg" class=""/>
  </div>

  <div class="float-left">
    <img src="../../../assets/img/Group_9.svg" class="Group_9"/>
  </div>

  <div class="Group_13">
    <img src="../../../assets/img/Group_13.svg" class="Group_13"/>
  </div>


  <div class="row justify-content-center align-self-center">
    <img src="../../../assets/img/Group_8.svg" class="Group_8"/>
  </div>


  <svg class="footer-background">
    <defs>
      <style>.a {
        fill: url(#a);
      }</style>
      <linearGradient id="a" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
        <stop offset="0" stop-color="#00b3b9" stop-opacity="0"/>
        <stop offset="0.005" stop-color="#ade7e9" stop-opacity="0.051"/>
        <stop offset="0.254" stop-color="#7ad7db" stop-opacity="0.325"/>
        <stop offset="0.609" stop-color="#38c4c8" stop-opacity="0.686"/>
        <stop offset="0.867" stop-color="#0fb7bd" stop-opacity="0.914"/>
        <stop offset="1" stop-color="#00b3b9"/>
      </linearGradient>
    </defs>
    <rect class="a" width="100%" height="100%"/>
  </svg>

  <div class="footer-top">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
          <h6 class="text-uppercase mb-4 font-weight-bold"><img src="../../../assets/icons/logo-new.png" class="logo"/>
          </h6>
          <p>We have created the first and foremost virtual wedding market through our application to interconnect the
            Clients with Service
            Specialists in the field to bring your Wedding Dream into Life. Let us be your partner in your most
            awaited celebration of your life filled with love, hope and happiness. We assure that we will make
            your big day remarkable and memorable for the rest of your life</p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
          <div class="form">
            <h4>Send us a message</h4>
            <p>If you have any question or just want to say 'hello' to Magul web please fill out form below and
              we will be get in touch with you within 24 hours.</p>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                       data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                       data-rule="email" data-msg="Please enter a valid email"/>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                       data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"/>
                <div class="validation"></div>
              </div>
              <div class="form-group">
        <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>

              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>

              <div class="text-center">
                <button type="submit" title="Send Message">Send Message</button>
              </div>
            </form>
          </div>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p><i class="fa fa-home mr-3"></i>No 340 1/1 ,</p>

          <p><i class="fa   mr-5"></i>Negombo Road,</p>
          <p><i class="fa   mr-5"></i>Weligampitiya,</p>
          <p><i class="fa   mr-5"></i>Ja ela,</p>
          <p><i class="fa   mr-5"></i>Sri Lanka</p>
          <p><i class="fa fa-envelope mr-3"></i>info@magul.lk</p>
          <p><i class="fa fa-phone mr-3"></i>+94(0)76 356 0000</p>
          <!--<p>-->
          <!--<i class="fa fa-print mr-3"></i> + 01 234 567 89</p>-->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left copyright">© Magul.lk | 2019 . All rights reserved.Designed and Developed
            By Sithuvili
            Concepts
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-facebook-f"></i>
                  <!--<i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>-->
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </div>

</footer>
<!-- Footer -->

